body {
    /*font-family: "open sans", sans-serif;*/
    color: #4e5359;
    background-color: #f3f3f5;
}

.php-header {
    position: relative;
    padding: 30px 15px;
    color: #fff;
    background-color: #2b6ca8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2b6cc0), to(#2b6ca8));
    background-image: -webkit-linear-gradient(top, #2b6cc0 0, #2b6ca8 100%);
    background-image: -o-linear-gradient(top, #2b6cc0 0, #2b6ca8 100%);
    background-image: linear-gradient(to bottom, #2b6cc0 0, #2b6ca8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b6cc0', endColorstr='#2b6ca8', GradientType=0);
    background-repeat: repeat-x;

}

.php-header a {
    color: #f3f3f5 !important;
}

a, a:hover {
    color: #B91D2B;
}

@media screen and (max-width: 640px) {
    .php-header h2 {
        font-size: 16px;
    }
}

/*****************************/

.affix-top {
    position: fixed;
}

.bs-docs-section h3 {
    font-style: italic;
}